/* Clase para la animación de desvanecimiento */

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeMove {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.fade-in-out {
    animation: fadeInOut 1s;
}

.fade-move {
    animation: fadeMove 1s;
}